
html, body {
  height: 100%;
  padding: 0;
  width: 100vw;
  overflow:auto;
}

.cover {
  min-height: 100%;
  display: flex;
  align-items: center; }

.bg-gradient {
  overflow: hidden;
  color: #fff;
  background: linear-gradient(-30deg, #4f70ce 0%, #12bbad 50%, #12bbad 100%); }

.filter-dark {
  overflow: hidden;
  position: relative;
  color: #fff; }
  .filter-dark:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(21, 21, 21, 0.75); }

.filter-light {
  overflow: hidden;
  position: relative;
  color: #212529; }
  .filter-light:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(243, 243, 243, 0.75); }

.filter-color {
  overflow: hidden;
  position: relative;
  color: #fff; }
  .filter-color:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: rgba(18, 187, 173, 0.75); }

.filter-gradient {
  overflow: hidden;
  position: relative;
  color: #fff; }
  .filter-gradient:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(-30deg, rgba(79, 112, 206, 0.9) 0%, rgba(18, 187, 173, 0.9) 50%, rgba(18, 187, 173, 0.95) 100%); }

.filter-fade-in {
  overflow: hidden;
  position: relative; }
  .filter-fade-in:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: ' ';
    background: linear-gradient(white, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }

#text {
  padding-top: 5%; }

#footer {
  background-color: #733F77;
}

#icons {
  margin-top: 2%;
}

#blocos {
  margin: 10% 5%; }

#artboard {
  background-image: url(../img/Group2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.btn-confirma{
    background-color: #733F77;
    color: white;
}

#titulo {
  color: #FFFFFF;
  font-weight: bold; }




.btn-lg, .btn-group-lg > .btn {
  background-color: #FFFFFF; }


.navbar {
/*  display: none;*/
  position: sticky;
  top: 0;
  background-image: url(../img/topo.png);
  background-repeat: no-repeat;
  background-size: cover;

}

#v-bottom{
    position: relative;
    bottom: 0;
}

#v-row{
    position: relative;

    width: 100%;
}
#box{
     grid-row-gap: 2%;
    height: 90%;
}
.marginbottom{
    margin-bottom: 0;
}
.margintop{
    margin-top: 0;
}
.scroll{
    font-weight: bolder;
    font-size: 28px;
}
.catModal{
    font-weight: bold;
    font-size: 20px;
}
.fa-arrow-down{
    opacity: 0.7;
}
.md-form{
    margin-bottom: 3%;
}
.md-form{
    justify-content: flex-end;
}
.btn-deep-purple{
    background-color: purple;
    color: white;
}
.btn-deep-white{
    background-color: whitesmoke;
    color: black;
    border-color: black;
}
.fab{
    margin-right: 3%;
    padding: 0;
    margin: 0;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
