@font-face{
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}
html{
    height: 100%;
}

body{
	height: 100%;
	font-family: "Open Sans", roboto;font-size: 1vw;
}

.headder{
	background-color:white;
	color:black;
	padding:1%;
	height: 6%;
}

p.nomUsr{
	position: absolute;
	margin-left: 80%;
	margin-top: 0.9%;
}

img.avtUsr{
	position: absolute;
	margin-left: 90%;
	margin-top: -1%;
	width: 5%;
	height: 10%;
}

.banner{
	background-color: #FF00FF;
	height: 38%;
	background-image: url(../img/Group2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
}

p.festas{
	color:white;
	position:absolute;
	margin-left:2.5%;
	margin-top:0.8%;
	font-size:1.8vw;
	font-weight:bold;
	font-family:'Open Sans', roboto;
}

.imgRec{
	position:absolute;
	height:25%;
	width:22%;
}

.corpo{
	background-color:white;
	color:black;
	height: 160%;
}

.rodape{
	background-color: #FF00FF;
	color:white;
	height: 16%;
}
